
/* 
@import 'framework.css';
 Table of contents:
 1. Common styles
 2. Common responsive styles
 3. Headers
 4. Navigations
 
 6. Testimonials
 7. Features
 8. Forms
 9. Call to Actions
 10. Teams
 11. Pricing Tables
 12. Contacts
 13. Showcases
 14. Footers
 15. Ecommerce
 16. bootstrap slider
 17. Absolute element placement
 */
/* 1. Common styles */
body {
  font-family: Nunito;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4d095f;
  -webkit-font-smoothing: antialiased;
}
body.dev {
  background: #ccc;
  min-height: 10000px;
}
header, section {
  overflow: hidden;
}
header {
  position: relative;
}
header nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}
nav {
  width: 100%;
}
nav.transparent {
  background: transparent;
}
a, button {
  cursor: pointer;
  transition: all 0.25s;
}
a:hover, button:hover {
  text-decoration: none;
}
a:active, button:active, a:focus, button:focus {
  text-decoration: none;
  outline: none;
}
button {
  border: none;
  outline: none !important;
}
input, textarea {
  border: 0;
  outline: none;
  background: transparent;
  color: #4d095f;
  resize: none;
}
label {
  margin-bottom: 0;
  font-weight: 400;
  cursor: pointer;
}
a{
    color: white;
    text-decoration: none;
}
/* listing */
        .list-group-item {
            display: flex;
            align-items: center;
        }
        .list-group-item i {
            margin-right: 10px;
            color: #007bff;
        }
/* product cards */
		 .product-card {
            border: 1px solid #e0e0e0;
            border-radius: 10px;
            padding: 20px;
            /* text-align: center; */
			text-align: left;
            transition: box-shadow 0.3s ease-in-out;
            position: relative;
        }
        .product-card:hover {
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .product-card .icon {
            font-size: 50px;
           /* color: #007bff; /* blue */
			/* color: #28a745; /* green */
			color:white;
            position: absolute;
            top: -25px;
            left: 50%;
            transform: translateX(-50%);
			/* background: white; */
			background: #ebaf41; !important;
          
            border-radius: 50%;
			border: 1px solid #ebaf41; 
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        .product-card .headline {
            font-size: 24px;
            font-weight: bold;
            margin-top: 40px;
            margin-bottom: 10px;
        }
        .product-card .body-text {
            font-size: 16px;
            color: #6c757d;
        }
		.btn-green {
            background-color: #28a745; /* Green color */
            border-color: #28a745; /* Green color */
			color:white;
        }
        .btn-green:hover {
            background-color: #218838; /* Darker green on hover */
            border-color: #1e7e34; /* Darker green on hover */
        }
/* product card ends */

/* partner scroll card */
    .scrolling-wrapper {
      overflow-x: scroll;
      display: flex;
      flex-wrap: nowrap;
    }
    .scroll-card {
      flex: 0 0 auto;
      margin-right: 1rem;
    }

/* scroll cars ends */

.bg-image{
            background: linear-gradient(to right, #0066ff, #9006ff);
            background-size: cover;
            background-position: center;
            height: 100%;
			border: 2px solid #a8a9a9;
            color: black;
        }
.noBorder{
	border-radius: 0 !important; /* Ensures border-radius is 0 */
}
.sectionMargins{
		margin-top:50px;
		margin-bottom:50px;
}
.multicolortext_1 {
	background-image: linear-gradient(to left, violet, #a15dd3, #44d344, #0dcaf0, #7f7f00, orange, red);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
}
.multicolortext_2 {
	background-image: linear-gradient(to left, darkgray, darkblue, #bd00bd, blue);
	-webkit-background-clip: text;
	-moz-background-clip: text;
	background-clip: text;
	color: transparent;
}

/* h1 to h6 */
h1, h2, h3, h4, h5, h6 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin: 0;
  font-weight: 900;
  font-family: "PT Sans Narrow",Poppins,Nunito Sans;
}
/* default old small screens */
h1, h2 {
  font-size: 32px;
  line-height: 1.2px;
}
h1.big, h2.big {
  font-size: 42px;
  line-height: 1.2;
}
h1.small, h2.small {
  font-size: 37px;
  font-weight: 900;
}
h3 {
  font-size: 28px;
  line-height: 1.2;
}


/* 16. bootstrap slider */
/*  Breakpoints in bootstrap 
https://www.browserstack.com/guide/bootstrap-breakpoints-and-media-queries */
/* Default old small < 576px */

p.hide{
	visibility: visible;
    display: "block";
}
p.body{
	font-family:"Poppins";
	font-size:18px;
	line-height:1.3;
	opacity:0.8;
}
/* dtmt colors */
.dtmtOrange{
		color:#ff3900 !important;
}
.dtmtGreen{
	color:#4cd679 !important;
}
.dtmtBlack{
	color: #181818!important;
}
.dtmtBlue{
	color:#4898d8 !important;
}
.dtmtGray{
	color: #55015d !important;
}
.dtmtPink{
	color: #f64575 !important;
}
.bottomHeight{
	bottom: 10%;
}
.rectangle {
      width: 100%;
      min-height: 200px;
      background-color: #031f3d;
	  border-radius: 45px; 
	  color: white;
    }

p.subHL{
		 line-height: 1.2;
		 opacity:0.8;
		 text-transform: uppercase;
		 font-family:Poppins;
		 color: #0dcaf0; 
		 text-shadow: 1px 1px 2px rgba(255,255,255,0.6);
	 }
 p.subHLSmall{
		 font-size: 1.5rem;
		font-weight: 700;
		opacity: 0.6;
		letter-spacing: 5px;
 }
 p.cardHL{
		 font-size: 1.1rem;
		font-weight: 700;
		opacity: 0.6;
		letter-spacing:0px;
		text-transform: none;
 }
 
	 
.contentBox {
	width:70vw;
}

	p.cardText{
		font-size:20px;
		opacit
	}

/* upto 576 */
@media (max-width: 575.98px) {
	.headerSliderHeight{
			min-height:80vh;
			max-height:80vh;
	}
	p.hide{
		visibility: hidden;
		display: none;
	}
	.sliderTextTop{
		top: 8.75rem;
	}
	p.subHL{
		 font-size:18px;
	 }
	 
	 h1, h2 {
		font-size: 23px;
		 line-height: 1.2;
	  }
	  h1.big, h2.big {
		font-size: 26px;
		 line-height: 1.2;
	  }
	  h1.small, h2.small {
		font-size: 20px;
		 line-height: 1.2;
	  }
}



/* 1. Small (sm)  but horizontal 
576px and greater screen sizes use small breakpoints. Ex- mobiles. The media query breakpoint syntax –
*/
@media only screen and (min-width: 576px) {
	.contentBox {
		width:70vw;
	}
	.headerSliderHeight{
		min-height:80vh;
		max-height:80vh;
	}
	p.hide{
		visibility: hidden;
		display: none;
	}
	.bottomHeight{
		bottom: 2%;
	}
	.sliderTextTop{
		top: 1.75rem;
	}
	p.subHL{
		 font-size:24px;
	}

	h1, h2 {
		font-size: 32px;
		 line-height: 1.2;
	  }
	  h1.big, h2.big {
		font-size: 42px;
		 line-height: 1.2;
	  }
	  h1.small, h2.small {
		font-size: 26px;
		 line-height: 1.2;
	  }
	  h3 {
		font-size: 26px;
		 line-height: 1.2;
	  }
}

/* 2. Medium (md)
768px and greater screen sizes use the medium breakpoints. Ex-tablets.  Syntax below 
*/
 @media only screen and (min-width: 768px) {
	 .contentBox {
		width:70vw;
	}
	.headerSliderHeight{
		min-height:80vh;
		max-height:80vh;
	}
	.sliderTextTop{
		top: 1.75rem; 
	}
	p.hide{
		visibility: hidden;
		display: none;
	}
	.bottomHeight{
		bottom: 2%;
	}
	p.subHL{
		 font-size:24px;
	 }
	  h1, h2 {
		font-size: 32px;
		 line-height: 1.2;
	  }
	  h1.big, h2.big {
		font-size: 37px;
		 line-height: 1.2;
	  }
	  h1.small, h2.small {
		font-size: 27px;
		 line-height: 1.2;
	  }
	  h3 {
		font-size: 32px;
		 line-height: 1.2;
	  }
 }
 @media only screen and (min-width: 768px) and (min-height:1023px) {
	 .contentBox {
		width:70vw;
	}
	.headerSliderHeight{
		min-height:60vh;
		max-height:60vh;
	}
	.sliderTextTop{
		top: 4.75rem; 
	}
 }
/* 3. Large (lg) - desktop or pad (vertical)
992px and greater screen sizes use the large breakpoints. Ex- laptops. Syntax –
*/
 @media only screen and (min-width: 992px) {
	 .contentBox {
		width:70vw;
	}
	.headerSliderHeight{
		min-height:90vh;
		max-height:90vh;
	}
	p.hide{
		visibility: visible;
		display: block;
	}
	.bottomHeight{
		bottom: 10%;
	}
	
	.sliderTextTop{
		top: 3.75rem;
	}
	p.subHL{
		 font-size: 32px;
        line-height: 1.3; 
	 }
	 h1, h2 {
		font-size: 45px;
		 line-height: 1.2;
	  }
	  h1.big, h2.big {
		font-size: 52px;
 line-height: 1.2;
	  }
	  h1.small, h2.small {
		font-size: 36px;
		 line-height: 1.2;
	  }
	  h3 {
		font-size: 36px;
		 line-height: 1.2;
	  }
 }
 
/* 4. Extra-large (xl)
1200px and greater screen sizes use the extra-large breakpoints. Ex: Desktops. Syntax – 
*/
@media only screen and (min-width: 1200px) {
	.headerSliderHeight{
		min-height:90vh;
		max-height:90vh;
	}
	p.hide{
		visibility: visible;
		display: block;
	}
	.sliderTextTop{
		top: 3.75rem;
	}
	p.subHL{
		 font-size:34px;
	 }
	 p.subHLSmall{
		 font-size: 1.3rem;
	 }
	 h1, h2 {
		font-size: 45px;
		 line-height: 1.2;
	  }
	  h1.big, h2.big {
		font-size: 62px;
		line-height: 1.2;
	  }
	  h1.small, h2.small {
		font-size: 36px;
		 line-height: 1.2;
	  }
	  h3 {
		font-size: 36px;
		 line-height: 1.2;
	  }
}
 
 .subH_Highlihgter{
	 font-size:1.7rem;font-weight:bold;background:#ffffff1c;
	 padding:3px;
 }	 
  .textHighterWhite{
	  color:white;text-shadow: 4px 4px 2px rgba(255,255,255,0.6);font-size:2.0rem;
 }
 .textHighterGreen{
	  color:green;text-shadow: 4px 4px 2px rgba(255,255,255,0.6);
 }
 
 .textHighterBlue{
	  color:#b6eaff;text-shadow: 4px 4px 2px rgba(255,255,255,0.6);font-size:2.0rem;
 }
 
 .textHighterBlack{
	  color:black;text-shadow: 4px 4px 2px rgba(255,255,255,0.6);font-size:2.0rem;
 }
 .textHighterRed{
	  color:red;text-shadow: 4px 4px 2px rgba(255,255,255,0.6);font-size:2.0rem;
 }
 
 /*  HEADER CARD PLACEMENT */
 /* override card. For horizontal use card of 5 length. for verticle place card up and down */
.headerCardRow{ 
	position:Absolute; /* Let child i.e. the card should override */
	bottom: 1%;
    overflow: visible;
    left: 2%;
    /*margin-left: 40%; /* use this to place from left. Similarly from top */
    min-width: 100%;
}
/* card contained in row */ 
.headerCard{
	padding:0px;
	min-width: 25%;
	max-width: 30%;
}

.cardTitleOnImage{
	position:absolute;color:white;left:0px;right:0px;top:0px;bottom:0px;text-align:center;transform:translateY(50%);	
}

 
@media (max-width: 575.98px) {
	.headerCardRow{ 
		bottom: 1%;
		left: 1%;
		/* margin-left: 40%; /* use this to place from left. Similarly from top */
		min-width: 100%;
	}
	.headerCard{
		min-width: 45%;
		max-width: 45%;
	}
	.cardDevSec{
		margin-left: 1%;
		bottom: 25%;
	}
	.cardDev{
		margin-left: 30%;
		bottom: 1%;
	}
	.cardSus{
		margin-left: 48%;
		bottom: 25%;
	}
}

/* 1. Small (sm)  but horizontal 
576px and greater screen sizes use small breakpoints. Ex- mobiles. The media query breakpoint syntax –
*/
@media only screen and (min-width: 576px) {
	
}

/* 2. Medium (md)
768px and greater screen sizes use the medium breakpoints. Ex-tablets.  Syntax below 
*/
 @media only screen and (min-width: 768px) {
	.headerCardRow{ 
        bottom: 1%;
		left: 1%;
		/* margin-left: 40%; /* use this to place from left. Similarly from top */
		min-width: 100%;
	}
	.headerCard{
		min-width: 30%;
		max-width: 30%;
	}
	.cardDevSec{
		margin-left: 3%;
		bottom: 9%;
	}
	.cardDev{
		margin-left: 36%;
		bottom: 1%;
	}
	.cardSus{
		margin-left: 68%;
		bottom: 9%;
	}
 }
 
/* 3. Large (lg) - desktop or pad (vertical)
992px and greater screen sizes use the large breakpoints. Ex- laptops. Syntax –
*/
 @media only screen and (min-width: 992px) {
	 .headerCardRow{ 
		bottom:1%;
		left: 1%;
		/* margin-left: 40%; /* use this to place from left. Similarly from top */
		min-width: 100%;
	}
	.headerCard{
		min-width: 30%;
		max-width: 30%;
	}
	.cardDevSec{
		margin-left: 5%;
		bottom:20%
	}
	.cardDev{
		margin-left: 36%;
		bottom:5%
	}
	.cardSus{
		margin-left: 68%;
		bottom:20%
	}
 }
 
/* 4. Extra-large (xl)
1200px and greater screen sizes use the extra-large breakpoints. Ex: Desktops. Syntax – 
*/
@media only screen and (min-width: 1200px) {
	.headerCardRow{ 
		bottom:1%;
		left: 1%;
		/* margin-left: 40%; /* use this to place from left. Similarly from top */
		min-width: 100%;
	}
	.headerCard{
		min-width: 30%;
		max-width: 30%;
	}
	.cardDevSec{
		margin-left: 5%;
		bottom:20%
	}
	.cardDev{
		margin-left: 36%;
		bottom:5%
	}
	.cardSus{
		margin-left: 68%;
		bottom:20%
	}
		
}

/* slider text */
.sliderTextTop{
	position: absolute;
    right: 1%;
    /* top: 1.25rem; */
    /*transform: translateY(-50%); */
    left: 1%;
    color: #fff;
    text-align: center;
}


.devops {
	position:Absolute;
	left:20%;
	top:80%;
	fill: #cdcdcd66;
	wodth:150px;
}

/* 17. Absolute element placement */
.absoluteVerticle{
	/* https://stackoverflow.com/questions/7720730/how-to-align-absolutely-positioned-element-to-center */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}





/* KIDS CSS */
/* ################################################## new css ######################################################## */

.astylecasestudie {
  text-decoration: none;
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity));
}

.astylecasestudie:hover {
  text-decoration: underline;
}

.ourcasestudyclassbox {
  transition: box-shadow .3s;
}

.ourcasestudyclassbox:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

/* by pradeep  */

.small-img {
  width: 100px;
  /* adjust size to fit your design */
  height: 40px;
  margin-left: 10px;
  margin-bottom: 60px;
}

.card-img-left {
  max-width: 150px;
  object-fit: contain;
}

.card-box {
  color: black;
  padding: 0.5rem;
  flex-direction: row;
  background: rgb(255, 255, 255);
  border-radius: 7px;
  align-items: center;
  border: none;
}

.card-body-pradeep {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.read-more {
  color: #2f88e8;
  /* blue color for link */
  text-decoration: none;
}

.read-more:hover {
  text-decoration: underline;
}

.pradeep-title {
  font-size: medium;
}

.card-text-pradeep {
  font-size: small;
}

.whatmakesepcialsecton {
  border: 1px solid #ebebeb;
  transition: box-shadow .3s;
}

.whatmakesepcialsecton:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.cartheader {
  color: #111827;
  font-size: 1.125rem;
}

.card-contenttext {
  font-size: .875rem;
  line-height: 1.625;
  font-weight: 500;
  color: #4f4f4f;

}

.card-partnership {

  border: 1px solid rgba(1, 0, 0, 0.3);
  /* Light border */
  border-radius: 8px;
  /* Rounded corners */
  overflow: hidden;
  /* Ensure the shadow doesn't overflow */
  transition: transform 0.3s, box-shadow 0.3s;
}

.card-partnership:hover {
  transform: scale(1.05);
  /* Slightly enlarge the card on hover */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.card-partnership-img-top {
  width: 100%;
  /* Ensure images fit the card */
  height: auto;
  /* Maintain aspect ratio */
}

/*Arun CSS*/

.card-custom {
  border: none;
  background-image: url('/images/CardBG.jpg');
  background-size: cover;
  background-position: center;
}

.overlayWithBoxWhite {
  box-shadow: inset 0px 0px 0 5000px rgb(255, 255, 255);
}

.overlayWithBoxBlack {
  box-shadow: inset 0px 0px 0 5000px rgba(0, 14, 29, 0.61);
}

.card-header-balckBg {
  background-color: black;
}

/* FORM */
 .needs-validation .form-control:invalid {
  border-color: #dc3545;
}
.needs-validation .form-control:valid {
  border-color: #28a745;
}